<p id="notice"><%= notice %></p>

<h1>Listing Musiccds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Release year</th>
      <th>Price</th>
      <th>Description</th>
      <th>Cover url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musiccds.each do |musiccd| %>
      <tr>
        <td><%= musiccd.title %></td>
        <td><%= musiccd.author %></td>
        <td><%= musiccd.release_year %></td>
        <td><%= musiccd.price %></td>
        <td><%= musiccd.description %></td>
        <td><%= musiccd.cover_url %></td>
        <td><%= link_to 'Show', musiccd %></td>
        <td><%= link_to 'Edit', edit_musiccd_path(musiccd) %></td>
        <td><%= link_to 'Destroy', musiccd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musiccd', new_musiccd_path %>

<div class="column">
  <ul class="movies-grid no-bullet row">
    <% @musiccds.each do |musiccd| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="movie-card padly">
          <%= link_to musiccd, class: "poster" do %>
            <%= image_tag musiccd.cover_url %>
          <% end %>
          <div class="movie-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= musiccd.title %> <span>(<%= musiccd.release_year %>)</span></h6>
            </div>
            <p class="left price label movie-label radius">$ <%= musiccd.price %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
